.Board {
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  transform-origin: top left;
}

.Board > .key {
  clear: both;
  padding-top: 10px;
}

.Board > .key > i {
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 1px solid #000;
}